# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfvars.backup

# Python
__pycache__/
*.pyc
venv/
.venv/
lambda_build/
*.zip

# Secretos
.env
*.env.local

# Sistema
.DS_Store
node_modules/